.banner{
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 30%), url(../../images/background.jpg);
	background-size: cover;
	background-position: center;
	color: white;
	padding: 150px 0px;
}

.banner h1 {
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 50px;
}

.banner h2 {
	color: white;
	font-family: 'Indie Flower', sans-serif;
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
}

.banner p {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 60px;
}