.btn-blue {
	background-color: #41737B;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	font-family: 'Roboto', sans-serif;
}
.btn-blue:hover {
	color: white;
	font-weight: bolder;
	text-shadow: 5px 5px 5px rgb(100,100,100);
}
